/* 576 */

@media only screen and (max-width: 576px) {

    /* NAVIGATION */

    .header {
        padding: 1rem 1rem 1rem 0rem;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }

    .header_navbar {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-top: 0.5rem;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--primary);
    }

    .nav_menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--secondary);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        border-bottom: 3px solid var(--primary);
    }

    .nav_menu.active {
        left: 0;
    }

    h2 {
        font-size: calc(0.85rem + 0.9vw);
    }

    .nav_item {
        margin: 1rem 0;
    }

    #background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center !important;
    }

    .music-img-container img {
        bottom: 63px;
    }

    .music-info {
        left: -3px;
        width: 102%;
        padding: 10px 10px 0 160px;
    }

    .music-img-container::after {
        position: absolute;
        bottom: 209%;
        left: 56px;
        transform: translate(-50%, 50%);
    }

    /* NAVIGATION END */
}

/* 768 */

@media only screen and (max-width: 768px) {

    /* TEXT */
    h1 {
        font-size: calc(1.15rem + 1.1vw);
    }

    h2 {
        font-size: calc(0.15rem + 0.9vw);
    }

    h4 {
        font-size: calc(1.01rem + 0.3vw);
    }

    h6 {
        font-size: calc(1.01rem + 0.1vw);
    }

    a,
    p {
        font-size: calc(.75rem + 0.3vw);
    }

    li {
        list-style: none;
    }

    /* TEXT END */

    /* LAYOUT */
    #background {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../../assets/images/backgrounds/redshift.webp");
    }

    /* LAYOUT END */

    /* CONTROL PANEL */
    .control-panel {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column !important;
    }

    .music-side {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .welcome-container {
        max-width: 74% !important;
        min-width: 74% !important;
        padding: 1.2rem;
        background-color: black;
        border-radius: 20px;
        border: 3px solid whitesmoke;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        min-height: 220px !important;
        max-height: 220px !important;
    }

    hr {
        width: 60%;
        height: 3px;
        margin: 10px auto 17px auto;
        background: var(--primary);
    }

    #quote-text {
        line-height: 23px;
        padding: 0 0 0.7rem 0;
        font-family: "Times New Roman", Times, serif;
    }

    #quote-author {
        font-style: italic;
    }

    .word-container {
        margin: 0 auto !important;
        padding: 0.3rem 2rem;
        min-width: 74% !important;
        max-width: 74% !important;
        min-height: 55px !important;
    }

    /* CONTROL PANEL END */

    .music-container {
        background-color: black;
        border: 3px solid whitesmoke;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        padding: 40px 30px;
        position: relative;
        margin: 3.7rem auto 0px auto !important;
        z-index: 10;
        max-width: 74%;
    }

    .music-info {
        left: -1.9px;
        width: 101.07%;
        padding: 10px 10px 0 160px;
    }

    /* NAVIGATION */
    /* NAVIGATION END */
}

/* 992 */

@media only screen and (max-width: 992px) {

    /* TEXT */
    h1 {font-size: calc(1.01rem + 0.3vw);}
    h2 {font-size: calc(0.15rem + 0.9vw);}
    h4 {font-size: calc(0.91rem + 0.3vw);}
    h6 {font-size: calc(1.01rem + 0.1vw);}
    a {font-size: calc(.75rem + 0.3vw);}
    p {font-size: calc(.65rem + 0.3vw);}
    li {list-style: none;}

    /* TEXT END */

    /* CONTROL PANEL */
    .welcome-container {
        max-width: 30%;
        padding: 1.8rem 1.2rem !important;
    }

    hr {margin: 10px auto 17px auto;}

    #quote-text {
        line-height: 19px !important;
        padding: 0 0 0.7rem 0;
    }

    /* CONTROL PANEL END */

    /* NAVIGATION */


    /* NAVIGATION END */
}

/* 1400 */

@media only screen and (max-width: 1400px) {

    /* TEXT */
    h1 {font-size: calc(1.15rem + 1.1vw);}
    h2 {font-size: calc(0.15rem + 0.9vw);}
    h4 {font-size: calc(1.01rem + 0.3vw);}
    h6 {font-size: calc(1.01rem + 0.1vw);}
    a,p {font-size: calc(.75rem + 0.3vw);}
    li {list-style: none;}

    /* TEXT END */

    /* MAIN CONTAINER */
    .main-container {max-width: 100%;}

    /* MAIN CONTAINER END */

    /* LAYOUT */
    #background {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(../../assets/images/backgrounds/redshift.webp);
    }

    /* LAYOUT END */

    /* CONTROL PANEL */
    .control-panel {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .music-side {
        display: flex;
        flex-direction: column;
    }

    .welcome-container {
        max-width: 30%;
        padding: 1.8rem;
        background-color: black;
        border-radius: 20px;
        border: 3px solid whitesmoke;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        min-height: 260px;
        max-height: 260px;
    }

    .welcome-container h1 {
        font-family: 'Sacramento', cursive;
        padding: 0;
    }

    hr {
        width: 60%;
        height: 3px;
        margin: 10px auto 17px auto;
        background: var(--primary);
    }

    #quote-text {
        line-height: 23px;
        padding: 0 0 0.7rem 0;
        font-family: "Times New Roman", Times, serif;
    }

    #quote-author {font-style: italic;}

    /* CONTROL PANEL END */

    /* WORD CONTAINER */
    .word-container {
        height: 100%;
        margin: 0;
        padding: 0.3rem 2rem;
        border-right: 3px solid whitesmoke;
        border-left: 3px solid whitesmoke;
        border-bottom: 3px solid whitesmoke;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
    }

    .word {
        animation: mymove 8s infinite;
        transition: all 0.3s ease-in-out;
    }

    @keyframes gradient {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    }

    @keyframes mymove {
        50% {font-size: 1.7rem;}
    }

    .nav_link {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
    }

    /* WORD CONTAINER END */
}

/* 1400+ */

@media only screen and (min-width: 1400px) {

    /* TEXT */
    h1 {font-size: calc(1.15rem + 1.1vw);}
    h2 {font-size: calc(0.15rem + 0.9vw);}
    h4 {font-size: calc(1.01rem + 0.3vw);}
    h6 {font-size: calc(1.01rem + 0.1vw);}
    a,p {font-size: calc(.75rem + 0.3vw);}
    li {list-style: none;}

    /* TEXT END */

    /* MAIN CONTAINER */
    .main-container {
        max-width: 75vw;
        margin: 0 auto;
    }

    /* MAIN CONTAINER END */

    /* LAYOUT */
    #background {
        background-position: right center;
        background-image: url(../../assets/images/backgrounds/redshift.webp);
    }

    /* LAYOUT END */

    /* CONTROL PANEL */
    .control-panel {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .music-side {
        display: flex;
        flex-direction: column;
    }

    .welcome-container {
        max-width: 30%;
        padding: 1.2rem 1.8rem;
        background-color: black;
        border-radius: 20px;
        border: 3px solid whitesmoke;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        min-height: 260px;
        max-height: 260px;
    }

    .welcome-container h1 {
        font-family: 'Sacramento', cursive;
        padding: 0;
    }

    hr {
        width: 60%;
        height: 3px;
        margin: 10px auto 17px auto;
        background: var(--primary);
    }

    #quote-text {
        line-height: 23px;
        padding: 0 0 0.7rem 0;
        font-family: "Times New Roman", Times, serif;
    }

    #quote-author {
        font-style: italic;
    }

    /* CONTROL PANEL END */

    /* WORD CONTAINER */
    .word-container {
        height: 100%;
        margin: 0;
        padding: 0.3rem 2rem;
        border-right: 3px solid whitesmoke;
        border-left: 3px solid whitesmoke;
        border-bottom: 3px solid whitesmoke;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
    }

    .word {
        animation: mymove 8s infinite;
        transition: all 0.3s ease-in-out;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes mymove {
        50% {
            font-size: 2rem;
        }
    }

    .nav_link {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
    }

    /* WORD CONTAINER END */
}